/* Stylus */
body
  color #444

.hidden
  display none

.timeago
  display none

h2
  padding-top: 11px

.event
  border 2px solid #fff
  border-radius 10px
  padding 10px

  img
    width 50px
    margin 5px 5px 0px 0px
    float left

.rank-XH
  background-color #cbcbc9

.rank-X
  background-color #efde6e

.rank-SH
  background-color #cbcbc9

.rank-S
  background-color #E9CB87

.rank-A
  background-color #AFD0C1

.rank-B
  background-color #9EB4CA

.rank-C
  background-color #CDABB5

.rank-D
  background-color #A1737A