/* Stylus */

.hidden
  display none

.timeago
  padding-left 5px

.event
  margin-top 20px
  border 1px solid #fff
  border-radius 10px

.rank-XH
  background-color #cbcbc9

.rank-X
  background-color #efde6e

.rank-SH
  background-color #cbcbc9

.rank-S
  background-color #E9CB87

.rank-A
  background-color #AFD0C1

.rank-B
  background-color #9EB4CA

.rank-C
  background-color #CDABB5

.rank-D
  background-color #A1737A