script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
script(src="//timeago.yarp.com/jquery.timeago.js")
script(src="https://raw.github.com/matthieua/WOW/master/dist/wow.min.js")
script(src="../js/vendor/fastclick.js")
script(src="../js/foundation.min.js")
script(src="../js/osube.js")
script
  $(document).foundation()
  new WOW().init();